body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(5vw, 1fr) minmax(0px, 1600px) minmax(5vw, 1fr);
}

.header {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.section {
  grid-column: 2;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  margin: 20px 0;
}

.section-component {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3A3A3A;
}

.footer {
  grid-column: 2;
  height: 240px;
  margin-top: 100px
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-copyright-group {
  display: flex;
}

.section-badge {
  font-weight: bold;
}

.section-heading-hero {
  font-size: 60px;
  line-height: 72px;
  margin: 0;
}

.section-heading {
  font-size: 46px;
  line-height: 56px;
  margin: 0;
}

.features {
	margin: 0 auto;
	display: grid;
	grid-template-rows: repeat(4, min-content);
	grid-column-gap: 20px;
	background: var(--background-color);
	background-color: rgba(0, 0, 0, 0.7);
	max-width: 1240px;
}

.features:hover fast-feature-card {
	filter: blur(2px);
}

.features fast-feature-card:hover {
	filter: blur(0);
}

@media screen and (min-width: 900px) {
	.features {
			grid-auto-flow: column;
	}
}